@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/**
 * menu toggle - (_layout.css)
 * ------------------------------------------------------------------- 
 */
.menu-toggle {
	float: left;
	width: 40px;
	height: 40px;
	margin-left: 20px;
	margin-top: 13px;
	display: block;
	position: relative;
}
.menu-toggle span {
	display: block;
	background-color: #d0f0c0;
	width: 24px;
	height: 3px;
	margin-top: -1.5px;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	position: absolute;
	right: 8px;
	top: 50%;
	bottom: auto;
	left: auto;
	-moz-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	-webkit-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
}
.menu-toggle span::before, .menu-toggle span::after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: inherit;
	position: absolute;
	left: 0;
	-moz-transition-duration: 0.2s, 0.2s;
	-o-transition-duration: 0.2s, 0.2s;
	-webkit-transition-duration: 0.2s, 0.2s;
	-ms-transition-duration: 0.2s, 0.2s;
	transition-duration: 0.2s, 0.2s;
	-moz-transition-delay: 0.2s, 0s;
	-o-transition-delay: 0.2s, 0s;
	-webkit-transition-delay: 0.2s, 0s;
	-ms-transition-delay: 0.2s, 0s;
	transition-delay: 0.2s, 0s;
}
.menu-toggle span::before {
	top: -8px;
	-moz-transition-property: top, transform;
	-o-transition-property: top, transform;
	-webkit-transition-property: top, transform;
	-ms-transition-property: top, transform;
	transition-property: top, transform;
}
.menu-toggle span::after {
	bottom: -8px;
	-moz-transition-property: bottom, transform;
	-o-transition-property: bottom, transform;
	-webkit-transition-property: bottom, transform;
	-ms-transition-property: bottom, transform;
	transition-property: bottom, transform;
}

/* is clicked */
.menu-toggle.is-clicked span {
	background-color: rgba(255, 0, 119, 0);
}
.menu-toggle.is-clicked span::before, .menu-toggle.is-clicked span::after {
	background-color: #d0f0c0;
	-moz-transition-delay: 0s, 0.2s;
	-o-transition-delay: 0s, 0.2s;
	-webkit-transition-delay: 0s, 0.2s;
	-ms-transition-delay: 0s, 0.2s;
	transition-delay: 0s, 0.2s;
}
.menu-toggle.is-clicked span::before {
	top: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.menu-toggle.is-clicked span::after {
	bottom: 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  nav h1 {
    color: var(--primary-color);
    font-family: 'Bruno Ace', cursive; 
  }

  nav a {
    color: var(--primary-color);
    transition: var(--transition);
  }
  nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
  }
  
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
  nav ul li {
    font-weight: var(--bold-font);
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  .burger-menu {
    display: none;
  }

  .image {
    width: 200px;
    height: 200px;
  }
  
  .gallery {
    display: grid;
    max-width: 1000px;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-gap: 15px;
    justify-items: center;
  }

  .search-bar {
    display: flex;
    justify-content: center;
      
  }

  #search {
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 60%;
    border-radius: 5px;
    border: 1px solid lightgrey;
    position: relative;
    display: flex;
  }
 .box {
    border-radius: 11px;
    box-shadow: 0 3px 10px darkgrey;
    padding: 20px;
    margin: 10px;
    transition: 1s;
  }
 /* .image:hover {
    transform:scale(1.3);
  }*/
 

  @media screen and (max-width: 720px) {
    /*changes reflects on screen with a width of 720px and below*/
    nav {
      padding: 1.5rem 1rem;
      margin-right: 0px;   
    }
    nav ul {
      --underline-gap: .5rem;
      position: fixed;
      z-index: 1000;
      inset: 0 0 0 30%;
      list-style: none;
      padding: min(20rem, 15vh) 2rem;
      margin: 0;
      flex-direction: column;
      transform: translateX(100%);
      transition: transform 500ms ease-in-out;
    }
    nav ul {
      background: hsl( var(--primary-color) / 0.05);
      backdrop-filter: blur(1.5rem);
    }
    nav ul li {
      margin: 8px;
    }
    .burger-menu {
      color: black;
      font-size: 3rem;
      display: block;
      position: absolute;
      z-index: 2000;
      right: 2rem;
      top: 1rem;
      background: transparent;
      background-repeat: no-repeat;
      background-position: center;
      width: 1.5rem;
      aspect-ratio: 1;
      border: 0;
    }
    nav ul.show {
      transform: translateX(0);
    }
  }  

@media only screen  and (max-width : 820px) {
  nav {
    padding: 1.5rem 1rem;
    margin-right: 0px;   
  }
  nav ul {
    --underline-gap: .5rem;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    list-style: none;
    padding: min(20rem, 15vh) 2rem;
    margin: 0;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
  }
  nav ul {
    background: hsl( var(--primary-color) / 0.05);
    backdrop-filter: blur(1.5rem);
  }
  nav ul li {
    margin: 8px;
  }
  .burger-menu {
    color: black;
    font-size: 3rem;
    display: block;
    position: absolute;
    z-index: 2000;
    right: 2rem;
    top: 1rem;
    background: transparent;
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
  }
  nav ul.show {
    transform: translateX(0);
  }
}